
.project-wrap {
    width: 100%;
    height: 40px;
    position: relative;
}

.project-select {
    width: 100%;
    min-height: 43px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    background-color: white;
    display: inline-block;
}

.input-focusout {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.selected-project{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-radius: 5px;
    background-color: lightsteelblue;
    z-index: 99;
}

.cancel-select{
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 99;
    top: 10px;
    right: 10px;
    background-color: red;
}

.project-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: black;
}

.project-option-box {
    position: absolute;
    display: none;
    top: 40px;
    width: 100%;
    max-height: 200px;
    background-color: lightsteelblue;
    border-radius: 5px;
    overflow: auto;
}

.project-option:last-child {
    border-bottom: none;
}

.project-option {
    width: 100%;
    height: 38px;
    display: inline-block;
    border-bottom: 1px dashed;
}

.option-selected{
    background-color: red;
}
